.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.Card{
  height:310px;
  width:200px;
  border:1px solid orange;
  margin:4px;
  padding: 4px;
  margin-top: 8px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: antiquewhite;
  box-shadow: 8px 8px 5px lightblue;
}
.Header{
  text-align: center;
  font-size: larger;
  margin:20px;
  height:30px;
  box-shadow: 8px 8px 3px rgb(7, 7, 7);
}